* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Baloo Bhai 2", Arial, sans-serif;
  max-width: 480px;
  margin: 0 auto;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #ffc94a 6%, #ffeec7 100%);
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: end;
}

.logo1 {
  font-size: 36px;
}

.logo2 {
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 5px;
}

.details h4 {
  color: #fff;
  font-weight: 300;
}

.header-flex {
  display: flex;
  align-items: center;
}

header {
  background-color: #ffcc00;
  padding: 40px 18px;
  background-repeat: no-repeat;
  background-image: url(../assets/food/head.png);
  background-size: cover;
}

.back-button {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0;
  flex: 1;
}

.location {
  font-size: 14px;
  text-align: right;
}

nav {
  background-color: #ffdd44;
  padding: 10px;
}

.tab-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-item {
  flex: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.tab-item.active {
  background-color: #fff;
  border-bottom: 2px solid #ffcc00;
}

.tab-content {
  display: none;
  padding: 20px 0;
}

.tab-content.active {
  display: block;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.details {
  flex: 1;
}

.details h2 {
  margin: 0;
  font-size: 18px;
}

.details p {
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.order-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-details {
  flex-grow: 1;
}

.order-title {
  font-weight: bold;
  color: grey;
  text-align: left;
  /* margin-bottom: 1px; */
}

.order-item {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  /* margin-bottom: 2px; */
}

.order-date-rill {
  font-weight: bold;
  text-align: left;
  color: #000;
}

.order-date {
  /* margin-bottom: 10px; */
  color: #888;
  text-align: left;
}

.order-more {
  color: grey;
  cursor: pointer;
  text-align: left;
}

.imgpanah {
  width: 15px;
  height: 15px;
}

.order-qr img {
  width: 120px;
  height: 120px;
  align-items: right;
  align-content: right;
}

.check_box img {
  width: 100px;
  height: 100px;
}

h1 {
  color: white;
}

p {
  font-size: 16px;
  color: grey;
}
h3 {
  color: white;
}
